<div class="container-fluid">
  <div class="d-flex">
    <div class="list-group me-4">
      <a
        href="#"
        class="list-group-item list-group-item-action active"
        aria-current="true"
      >
        Programme Overview
      </a>
      <a routerLink="businesses" class="list-group-item list-group-item-action">
        Business Structure
      </a>
    </div>
    <div class="flex-shrink-1">
        <h4>
            <b>Maleficent Entertainments Inc</b>
            <br />
            <small class="text-muted h6">Programme Overview</small>
          </h4>
            <table class="table table-sm table-bordered">
        <tbody>
          <tr>
            <th>Company Name</th>
            <td>Maleficent Entertainment Inc</td>
          </tr>
          <tr>
            <th>Instructing Company</th>
            <td>Willis</td>
          </tr>
          <tr>
            <th>Type of Instructing Company</th>
            <td>Broker</td>
          </tr>
          <tr>
            <th>Scheme</th>
            <td>Global USA Scheme</td>
          </tr>
          <tr>
            <th>Code Scheme</th>
            <td>McLarens Casualty Code Scheme 1</td>
          </tr>
          <tr>
            <th>Master Currency</th>
            <td>USD</td>
          </tr>
          <tr>
            <th>Contract Start Date</th>
            <td>01 Jul 2021</td>
          </tr>
          <tr>
            <th>Contract Period</th>
            <td>12 Months</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
